#form
  %form{:method => "POST"}
    %fieldset
      %ol
        %li
          %label{:for => "url"} URL
          %br
          %input{:type => "text", :name => "url", :id => "url", :value => "", :size => 80}
        %li
          %label{:for => "mirror"} Mirror
          %br
          %input{:type => "text", :name => "mirror", :id => "mirror", :value => "", :size => 80}
      %p.submit
        %button{:type => "submit"} Link Me Up
