!!!
%html
  %head
    %title Relink!

    %link{:href => "/css/reset.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/main.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #main
      %nav
      %header
        %a{:href => "/"}
          %h1
            %span Relink
      = yield
      %footer
        %p
          Made by
          %a{:href => "http://xoeb.us/"} xoebus

