!!!
%html
  %head
    %title Relink!

    %link{:href => "/css/reset.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/main.css", :rel => "stylesheet", :type => "text/css"}/

    %script{:src => "http://code.jquery.com/jquery-1.5.2.min.js", :type => "text/javascript"}
    %script{:src => "/js/jquery.infieldlabel.min.js", :type => "text/javascript"}
    :javascript
      $(document).ready(function(){
        $("label").inFieldLabels();
      });
  %body
    #main
      %header
        %a{:href => "/"}
          %h1
            %span Relink
      = yield
      %p
        Most sites can't handle the slashdot effect.
        %br
        However, why should that stop you linking all the cool stuff you make?
        %br
        %br
        Enter a link to your content and to a mirror, copy the link created and
        it will automatically redirect traffic when the original site becomes
        slow or unresponsive.
      %footer
        %hr
        %p
          Made by
          %a{:href => "http://xoeb.us/"} xoebus

