html, body {
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

#main {
	width: 80%;
	margin: auto;
}
header {
	margin-bottom: 25px;
  text-align: center;
  clear: both;
}
header h1 {
	margin: 25px 9px 9px 9px;
	color: #cc3333;
	font-size: 60px;
}
nav {
	float: right;
	padding: 10px;
	background: #cc3333;
	color: #fff;
}
nav a {
	color: #fff;
	text-decoration: none;
	border-bottom: dotted 1px #fff;
}
nav a:hover {
	border-bottom: solid 1px #fff;
}
.quote {
	margin-left: 50px;
}
/* type */
p {
	padding: 10px 0;
}
pre, textarea {
	text-align: left;
	font-family: courier;
	overflow: auto;
	background: #222;
	color: #fff;
	padding: 10px;
	font-size: 12px;
}
a {
	color: #cc3333;
	border-bottom: dotted #cc3333 1px;
	text-decoration: none;
}
footer {
	text-align: center;
	clear: both;
}
/* form */
form {
	line-height: 20px;
	font-size: 20px;
  font: bold 0.95em arial, sans-serif;
  border-radius: 0.4em;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
form input {
	line-height: 43px;
	font-size: 20px;
	padding: 10px;
  border: 1px solid #DDD;
  font: bold 0.95em arial, sans-serif;
  border-radius: 0.4em;
  width: 100%;
}
form label {
  position:absolute;
  top:0;
  left:0;
	line-height: 43px;
	font-size: 20px;
	padding: 15px;
}
textarea {
	width: 960px;
}
button[type=submit] {
	background: #cc3333;
	color: #fff;
	border: none;
	line-height: 20px;
	font-size: 20px;
	padding: 10px;
  cursor: pointer;
}
.submit {
	text-align: center;
}
/* voting */
.vote_actions {
	float: left;
	display: block;
}
.vote {
	display: block;
	background: url('/img/votes.png');
	border: none;
	text-indent: -999999em;
	width: 32px;
	height: 17px;
	cursor: pointer;
}
.up:hover {
	background-position: 32px 0;
}
.down:hover {
	background-position: 32px 17px;
}
.vote_count {
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.down {
	background-position: 0 17px;
}
.timeago {
  border-bottom: 1px dotted #333;
}

li {
  position: relative;
}

#form {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  width: 50%;
}
